@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root{
    --primary-color: #ec1f55;
    --text-color: #333;
    --background-color: #f5f5f5;
    --title-color:rgb(245, 61, 101);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins',sans-serif;
    overflow-y: scroll;
}

.align{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.align_item{
    flex:1;
}

.container{
    margin:0 auto 10vh;
    width:490px;
    /* background-color: var(--background-color); */
    box-shadow: 1px 1px 5px rgba(0, 0, 0,0.6);
    /* this is to make background blur */
    /* backdrop-filter: blur(5px);  */
    border-radius: 15px;
    /* z-index: 10; */
    position: relative;
}
.song_list.active{
    background-color:var(--primary-color) !important;
    color:var(--background-color);
    opacity: 1;
}
.active.align_item{
    color:var(--primary-color);
}

/* header */
.header_wrapper{
    position: fixed;
    width: 490px;
    background:#8049bd;
    z-index: 10;
}
.song_header{
    color:var(--title-color);
    margin-top: 30px;
}
.song_header .song_play{
    flex:3;
    text-align: center;
}
.song_header .song_play h4{
    font-size: 12px;
}
.song_header .song_play h2{
    font-weight: 500;
    font-size: 23px;
    color: var(--text-color);
}
.header-close{
    text-align: left;
    padding-left: 20px;
    font-size: 25px;
}
.header_add{
    text-align: right;
    padding-right: 20px;
    font-size: 25px;
}

/* thumbnail */
.cd {
    display: flex;
    margin: auto;
    width: 250px;
  }
  
.cd_thumbnail {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: auto;
  }

/* option */
.option {
    margin: 30px 0 15px;
    font-size: 25px;
    color:rgba(64, 41, 83, 0.9);
}
.play_song i{
    padding: 10px 20px;
    background-color: red;
    color: rgba(256, 256, 256, 0.9);
    box-shadow: 0 2px 3px rgba(72, 32, 90, 0.7);
    border-radius: 100%;
}
.play_song .pause-icon{
    display: none;
}
.play_song.play .pause-icon{
    display:inline-block;
}
.play_song.play .play-icon{
    display:none;
}
.align_item i{
    cursor: pointer;
}

/* progress */
.progress {
    width: 87%;
    height: 10px;
    border-radius: 10px;
    appearance: none;
    outline: none;
}
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 10px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* song-time */
.song_time{
    display:flex;
    margin:0 2rem 20px;
    justify-content: space-between;
    color: var(--background-color);
}

/* play-list */
.playlist{
    margin-top: 505px;
}
.song_list{
    border-radius: 5px;
    margin: 10px auto;
    width: 90%;
    background-color: var(--background-color);
    padding: 10px 35px 10px 25px;
    justify-content: space-between;
    opacity: 0.7;
    cursor: pointer;
}
.song_list:hover{
    opacity: 1;;
}
.song_title{
    text-align: center;
}
.song_title .song_name{
    font-size: 20px;
}
.song_img{
    margin:0 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-position: center;
}